<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.actitime.generic.BaseClassWithoutGenericTestMethod8"/>
      <class name=".Upcasting4a"/>
      <class name="com.actitime.testscript.ListenerTestFailDemo"/>
      <class name="com.actitime.generic.ScreenShotClass"/>
      <class name="com.actitime.testscript.TaskModule"/>
      <class name="com.actitime.generic.DemoNg1"/>
      <class name="com.actitime.generic.Assertion3"/>
      <class name="com.actitime.generic.Annotation6"/>
      <class name="com.actitime.testscript.ProjectModule"/>
      <class name="com.actitime.generic.Annotation5"/>
      <class name="com.actitime.testscript.CustomerModule"/>
      <class name="com.actitime.generic.CustomerModule2"/>
      <class name="com.actitime.generic.BaseClassWithGenericTestMethod11"/>
      <class name="com.actitime.generic.Assertion4"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
